In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType , DateType 
from pyspark.sql.functions import sum, col,avg,desc

In [2]:
scSpark = SparkSession.builder.appName("Spark Example").getOrCreate()

23/05/16 16:42:46 WARN Utils: Your hostname, all-MS-7D35 resolves to a loopback address: 127.0.1.1; using 192.168.1.134 instead (on interface enp2s0)
23/05/16 16:42:46 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/16 16:42:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
transaction = scSpark.read.csv("transactions_*.csv", header=True, inferSchema=True)
customer = scSpark.read.csv("customers.csv", header=True, inferSchema=True)
products = scSpark.read.csv("products.csv", header=True, inferSchema=True)

# Define join conditions
join_condition1 = transaction["CustomerId"] == customer["CustomerId"]

join_condition2 = transaction["ProductId"] == products["ProductId"]

# Perform joins
joined_df = transaction.join(customer, join_condition1, "left") \
                      .join(products, join_condition2, "left")

# Show the resulting joined data frame
joined_df.show()

+-------+-------------+----------+---------+--------+-------------------+----------+--------------------+--------------------+---------+-------------+--------+---------+
|StoreId|TransactionId|CustomerId|ProductId|Quantity|    TransactionTime|CustomerId|                Name|               Email|ProductId|         Name|Category|UnitPrice|
+-------+-------------+----------+---------+--------+-------------------+----------+--------------------+--------------------+---------+-------------+--------+---------+
|      3|          454|        35|        3|       3|2022-12-23 17:36:11|        35|      Dwayne Johnson|dwayne.johnson@gm...|        3|  Blue Shorts|  Shorts|   118.88|
|      3|          524|        37|        9|      11|2022-12-23 22:02:51|        37|       Brittany Holt|brittany.holt@exa...|        9|Green Sandals|   Shoes|   137.53|
|      3|          562|         4|        3|       4|2022-12-23 02:51:50|         4|       Alevtin Paska|alevtin.paska@exa...|        3|  Blue Shorts|  Shorts|   118.88|
|      3|          581|        35|       14|      56|2022-12-23 17:05:54|        35|      Dwayne Johnson|dwayne.johnson@gm...|       14|  Red t-shirt|T-Shirts|   121.58|
|      3|          200|        34|       15|      24|2022-12-23 07:15:01|        34|            Avi Shet|avi.shet@example.com|       15|White t-shirt|T-Shirts|   131.13|
|      3|          506|        41|       24|      19|2022-12-23 21:26:29|        41|         Alice Morin|alice.morin@examp...|       24|   Blue Jeans|   Pants|    173.1|
|      3|          278|         5|        1|       5|2022-12-23 16:41:42|         5|      Charlotte Wong|charlotte.wong@ex...|        1|   Red Shorts|  Shorts|    89.75|
|      3|          849|        36|       23|      13|2022-12-23 13:22:55|        36|     William Nielsen|william.nielsen@e...|       23| Green Chinos|   Pants|   150.93|
|      3|          992|        34|        7|       3|2022-12-23 16:47:14|        34|            Avi Shet|avi.shet@example.com|        7|White Sandals|   Shoes|   160.96|
|      3|          703|        19|        7|      13|2022-12-23 22:36:48|        19|       Alexia Renaud|alexia.renaud@exa...|        7|White Sandals|   Shoes|   160.96|
|      3|          719|        48|       18|      12|2022-12-23 10:11:29|        48|        Amoli Shenoy|amoli.shenoy@exam...|       18|Black t-shirt|T-Shirts|   102.41|
|      3|          526|        13|       14|       3|2022-12-23 11:57:23|        13|      Elizabeth Neal|elizabeth.neal@ex...|       14|  Red t-shirt|T-Shirts|   121.58|
|      3|          997|        20|        1|      14|2022-12-23 04:02:30|        20|         Suzy Gibson|suzy.gibson@examp...|        1|   Red Shorts|  Shorts|    89.75|
|      3|          281|        11|       15|      25|2022-12-23 16:07:45|        11|    Angélique Vennix|angelique.vennix@...|       15|White t-shirt|T-Shirts|   131.13|
|      3|          691|        48|       23|       2|2022-12-23 08:12:00|        48|        Amoli Shenoy|amoli.shenoy@exam...|       23| Green Chinos|   Pants|   150.93|
|      3|          762|        17|        5|      26|2022-12-23 16:18:27|        17|Sevastiana Nester...|sevastiana.nester...|        5| Black Shorts|  Shorts|    74.58|
|      3|          106|        24|       23|      11|2022-12-23 07:41:50|        24|         Bernd Colin|bernd.colin@examp...|       23| Green Chinos|   Pants|   150.93|
|      3|           21|        32|        9|       2|2022-12-23 21:15:10|        32|        Ethan Little|ethan.little@exam...|        9|Green Sandals|   Shoes|   137.53|
|      3|          626|        14|       18|      14|2022-12-23 12:55:02|        14|      Sylvie Lecomte|sylvie.lecomte@ex...|       18|Black t-shirt|T-Shirts|   102.41|
|      3|          219|        11|       15|       5|2022-12-23 13:00:17|        11|    Angélique Vennix|angelique.vennix@...|       15|White t-shirt|T-Shirts|   131.13|
+-------+-------------+----------+---------+--------+-------------------+----------+--------------------+--------------------+---------+-------------+--------+---------+
only showing top 20 rows

In [4]:
join_df = joined_df.withColumn("total price", col("Quantity") * col("UnitPrice"))
join_df.show()

+-------+-------------+----------+---------+--------+-------------------+----------+--------------------+--------------------+---------+-------------+--------+---------+------------------+
|StoreId|TransactionId|CustomerId|ProductId|Quantity|    TransactionTime|CustomerId|                Name|               Email|ProductId|         Name|Category|UnitPrice|       total price|
+-------+-------------+----------+---------+--------+-------------------+----------+--------------------+--------------------+---------+-------------+--------+---------+------------------+
|      3|          454|        35|        3|       3|2022-12-23 17:36:11|        35|      Dwayne Johnson|dwayne.johnson@gm...|        3|  Blue Shorts|  Shorts|   118.88|            356.64|
|      3|          524|        37|        9|      11|2022-12-23 22:02:51|        37|       Brittany Holt|brittany.holt@exa...|        9|Green Sandals|   Shoes|   137.53|           1512.83|
|      3|          562|         4|        3|       4|2022-12-23 02:51:50|         4|       Alevtin Paska|alevtin.paska@exa...|        3|  Blue Shorts|  Shorts|   118.88|            475.52|
|      3|          581|        35|       14|      56|2022-12-23 17:05:54|        35|      Dwayne Johnson|dwayne.johnson@gm...|       14|  Red t-shirt|T-Shirts|   121.58|           6808.48|
|      3|          200|        34|       15|      24|2022-12-23 07:15:01|        34|            Avi Shet|avi.shet@example.com|       15|White t-shirt|T-Shirts|   131.13|           3147.12|
|      3|          506|        41|       24|      19|2022-12-23 21:26:29|        41|         Alice Morin|alice.morin@examp...|       24|   Blue Jeans|   Pants|    173.1|            3288.9|
|      3|          278|         5|        1|       5|2022-12-23 16:41:42|         5|      Charlotte Wong|charlotte.wong@ex...|        1|   Red Shorts|  Shorts|    89.75|            448.75|
|      3|          849|        36|       23|      13|2022-12-23 13:22:55|        36|     William Nielsen|william.nielsen@e...|       23| Green Chinos|   Pants|   150.93|1962.0900000000001|
|      3|          992|        34|        7|       3|2022-12-23 16:47:14|        34|            Avi Shet|avi.shet@example.com|        7|White Sandals|   Shoes|   160.96|            482.88|
|      3|          703|        19|        7|      13|2022-12-23 22:36:48|        19|       Alexia Renaud|alexia.renaud@exa...|        7|White Sandals|   Shoes|   160.96|           2092.48|
|      3|          719|        48|       18|      12|2022-12-23 10:11:29|        48|        Amoli Shenoy|amoli.shenoy@exam...|       18|Black t-shirt|T-Shirts|   102.41|           1228.92|
|      3|          526|        13|       14|       3|2022-12-23 11:57:23|        13|      Elizabeth Neal|elizabeth.neal@ex...|       14|  Red t-shirt|T-Shirts|   121.58|            364.74|
|      3|          997|        20|        1|      14|2022-12-23 04:02:30|        20|         Suzy Gibson|suzy.gibson@examp...|        1|   Red Shorts|  Shorts|    89.75|            1256.5|
|      3|          281|        11|       15|      25|2022-12-23 16:07:45|        11|    Angélique Vennix|angelique.vennix@...|       15|White t-shirt|T-Shirts|   131.13|           3278.25|
|      3|          691|        48|       23|       2|2022-12-23 08:12:00|        48|        Amoli Shenoy|amoli.shenoy@exam...|       23| Green Chinos|   Pants|   150.93|            301.86|
|      3|          762|        17|        5|      26|2022-12-23 16:18:27|        17|Sevastiana Nester...|sevastiana.nester...|        5| Black Shorts|  Shorts|    74.58|           1939.08|
|      3|          106|        24|       23|      11|2022-12-23 07:41:50|        24|         Bernd Colin|bernd.colin@examp...|       23| Green Chinos|   Pants|   150.93|           1660.23|
|      3|           21|        32|        9|       2|2022-12-23 21:15:10|        32|        Ethan Little|ethan.little@exam...|        9|Green Sandals|   Shoes|   137.53|            275.06|
|      3|          626|        14|       18|      14|2022-12-23 12:55:02|        14|      Sylvie Lecomte|sylvie.lecomte@ex...|       18|Black t-shirt|T-Shirts|   102.41|           1433.74|
|      3|          219|        11|       15|       5|2022-12-23 13:00:17|        11|    Angélique Vennix|angelique.vennix@...|       15|White t-shirt|T-Shirts|   131.13|            655.65|
+-------+-------------+----------+---------+--------+-------------------+----------+--------------------+--------------------+---------+-------------+--------+---------+------------------+
only showing top 20 rows

In [5]:


# Convert the "Quantity" column to the appropriate data type
join_df = join_df.withColumn("total price", col("total price").cast("float"))
join_df= join_df.withColumn("TransactionTime", join_df["TransactionTime"].cast(DateType()))

store1_sales_df = join_df.filter(join_df["StoreId"] == 1)

# Calculate the daily total sales
daily_total_sales_store1 = store1_sales_df.groupBy("TransactionTime").agg(sum("total price").alias("TotalSales"))

# Show the results
daily_total_sales_store1.show()

+---------------+-----------------+
|TransactionTime|       TotalSales|
+---------------+-----------------+
|     2022-12-23|41264.00012207031|
+---------------+-----------------+

In [6]:
store2_sales_df = join_df.filter(join_df["StoreId"] == 2)

# Calculate the mean sales
mean_sales_store2 = store2_sales_df.select(avg("total price").alias("MeanSales"))

# Show the results
mean_sales_store2.show()

+-----------------+
|        MeanSales|
+-----------------+
|513.4598035625382|
+-----------------+

In [7]:
join_df.show()

+-------+-------------+----------+---------+--------+---------------+----------+--------------------+--------------------+---------+-------------+--------+---------+-----------+
|StoreId|TransactionId|CustomerId|ProductId|Quantity|TransactionTime|CustomerId|                Name|               Email|ProductId|         Name|Category|UnitPrice|total price|
+-------+-------------+----------+---------+--------+---------------+----------+--------------------+--------------------+---------+-------------+--------+---------+-----------+
|      3|          454|        35|        3|       3|     2022-12-23|        35|      Dwayne Johnson|dwayne.johnson@gm...|        3|  Blue Shorts|  Shorts|   118.88|     356.64|
|      3|          524|        37|        9|      11|     2022-12-23|        37|       Brittany Holt|brittany.holt@exa...|        9|Green Sandals|   Shoes|   137.53|    1512.83|
|      3|          562|         4|        3|       4|     2022-12-23|         4|       Alevtin Paska|alevtin.paska@exa...|        3|  Blue Shorts|  Shorts|   118.88|     475.52|
|      3|          581|        35|       14|      56|     2022-12-23|        35|      Dwayne Johnson|dwayne.johnson@gm...|       14|  Red t-shirt|T-Shirts|   121.58|    6808.48|
|      3|          200|        34|       15|      24|     2022-12-23|        34|            Avi Shet|avi.shet@example.com|       15|White t-shirt|T-Shirts|   131.13|    3147.12|
|      3|          506|        41|       24|      19|     2022-12-23|        41|         Alice Morin|alice.morin@examp...|       24|   Blue Jeans|   Pants|    173.1|     3288.9|
|      3|          278|         5|        1|       5|     2022-12-23|         5|      Charlotte Wong|charlotte.wong@ex...|        1|   Red Shorts|  Shorts|    89.75|     448.75|
|      3|          849|        36|       23|      13|     2022-12-23|        36|     William Nielsen|william.nielsen@e...|       23| Green Chinos|   Pants|   150.93|    1962.09|
|      3|          992|        34|        7|       3|     2022-12-23|        34|            Avi Shet|avi.shet@example.com|        7|White Sandals|   Shoes|   160.96|     482.88|
|      3|          703|        19|        7|      13|     2022-12-23|        19|       Alexia Renaud|alexia.renaud@exa...|        7|White Sandals|   Shoes|   160.96|    2092.48|
|      3|          719|        48|       18|      12|     2022-12-23|        48|        Amoli Shenoy|amoli.shenoy@exam...|       18|Black t-shirt|T-Shirts|   102.41|    1228.92|
|      3|          526|        13|       14|       3|     2022-12-23|        13|      Elizabeth Neal|elizabeth.neal@ex...|       14|  Red t-shirt|T-Shirts|   121.58|     364.74|
|      3|          997|        20|        1|      14|     2022-12-23|        20|         Suzy Gibson|suzy.gibson@examp...|        1|   Red Shorts|  Shorts|    89.75|     1256.5|
|      3|          281|        11|       15|      25|     2022-12-23|        11|    Angélique Vennix|angelique.vennix@...|       15|White t-shirt|T-Shirts|   131.13|    3278.25|
|      3|          691|        48|       23|       2|     2022-12-23|        48|        Amoli Shenoy|amoli.shenoy@exam...|       23| Green Chinos|   Pants|   150.93|     301.86|
|      3|          762|        17|        5|      26|     2022-12-23|        17|Sevastiana Nester...|sevastiana.nester...|        5| Black Shorts|  Shorts|    74.58|    1939.08|
|      3|          106|        24|       23|      11|     2022-12-23|        24|         Bernd Colin|bernd.colin@examp...|       23| Green Chinos|   Pants|   150.93|    1660.23|
|      3|           21|        32|        9|       2|     2022-12-23|        32|        Ethan Little|ethan.little@exam...|        9|Green Sandals|   Shoes|   137.53|     275.06|
|      3|          626|        14|       18|      14|     2022-12-23|        14|      Sylvie Lecomte|sylvie.lecomte@ex...|       18|Black t-shirt|T-Shirts|   102.41|    1433.74|
|      3|          219|        11|       15|       5|     2022-12-23|        11|    Angélique Vennix|angelique.vennix@...|       15|White t-shirt|T-Shirts|   131.13|     655.65|
+-------+-------------+----------+---------+--------+---------------+----------+--------------------+--------------------+---------+-------------+--------+---------+-----------+
only showing top 20 rows

In [8]:
total_sales_per_customer = join_df.groupBy("Email").agg(sum("total price").alias("TotalSales"))
# total_sales_per_customer.sort(desc("TotalSales"))
# total_sales_per_customer.show()
a= total_sales_per_customer.sort(desc("TotalSales"))
b=a.show(1)
# top_customer = total_sales_per_customer.first()

# Sort the total sales in descending order
# sorted_sales = total_sales_per_customer.sort(desc("TotalSales"))

# # Retrieve the customer with the highestotal_salest total sales
# top_customer = sorted_sales.first()

# # Retrieve the email associated with the top customer
# email_of_top_customer = clients_df.filter(clients_df["CustomerId"] == top_customer["CustomerId"]).select("Email").first()[0]

# # Print the email of the customer who spent the most
print("Email of the client who spent the most:", b)

+--------------------+------------------+
|               Email|        TotalSales|
+--------------------+------------------+
|dwayne.johnson@gm...|10653.080017089844|
+--------------------+------------------+
only showing top 1 row

Email of the client who spent the most: None

In [9]:
join_df = join_df.drop(products["ProductId"])

# Show the updated DataFrame
join_df.show()

+-------+-------------+----------+---------+--------+---------------+----------+--------------------+--------------------+-------------+--------+---------+-----------+
|StoreId|TransactionId|CustomerId|ProductId|Quantity|TransactionTime|CustomerId|                Name|               Email|         Name|Category|UnitPrice|total price|
+-------+-------------+----------+---------+--------+---------------+----------+--------------------+--------------------+-------------+--------+---------+-----------+
|      3|          454|        35|        3|       3|     2022-12-23|        35|      Dwayne Johnson|dwayne.johnson@gm...|  Blue Shorts|  Shorts|   118.88|     356.64|
|      3|          524|        37|        9|      11|     2022-12-23|        37|       Brittany Holt|brittany.holt@exa...|Green Sandals|   Shoes|   137.53|    1512.83|
|      3|          562|         4|        3|       4|     2022-12-23|         4|       Alevtin Paska|alevtin.paska@exa...|  Blue Shorts|  Shorts|   118.88|     475.52|
|      3|          581|        35|       14|      56|     2022-12-23|        35|      Dwayne Johnson|dwayne.johnson@gm...|  Red t-shirt|T-Shirts|   121.58|    6808.48|
|      3|          200|        34|       15|      24|     2022-12-23|        34|            Avi Shet|avi.shet@example.com|White t-shirt|T-Shirts|   131.13|    3147.12|
|      3|          506|        41|       24|      19|     2022-12-23|        41|         Alice Morin|alice.morin@examp...|   Blue Jeans|   Pants|    173.1|     3288.9|
|      3|          278|         5|        1|       5|     2022-12-23|         5|      Charlotte Wong|charlotte.wong@ex...|   Red Shorts|  Shorts|    89.75|     448.75|
|      3|          849|        36|       23|      13|     2022-12-23|        36|     William Nielsen|william.nielsen@e...| Green Chinos|   Pants|   150.93|    1962.09|
|      3|          992|        34|        7|       3|     2022-12-23|        34|            Avi Shet|avi.shet@example.com|White Sandals|   Shoes|   160.96|     482.88|
|      3|          703|        19|        7|      13|     2022-12-23|        19|       Alexia Renaud|alexia.renaud@exa...|White Sandals|   Shoes|   160.96|    2092.48|
|      3|          719|        48|       18|      12|     2022-12-23|        48|        Amoli Shenoy|amoli.shenoy@exam...|Black t-shirt|T-Shirts|   102.41|    1228.92|
|      3|          526|        13|       14|       3|     2022-12-23|        13|      Elizabeth Neal|elizabeth.neal@ex...|  Red t-shirt|T-Shirts|   121.58|     364.74|
|      3|          997|        20|        1|      14|     2022-12-23|        20|         Suzy Gibson|suzy.gibson@examp...|   Red Shorts|  Shorts|    89.75|     1256.5|
|      3|          281|        11|       15|      25|     2022-12-23|        11|    Angélique Vennix|angelique.vennix@...|White t-shirt|T-Shirts|   131.13|    3278.25|
|      3|          691|        48|       23|       2|     2022-12-23|        48|        Amoli Shenoy|amoli.shenoy@exam...| Green Chinos|   Pants|   150.93|     301.86|
|      3|          762|        17|        5|      26|     2022-12-23|        17|Sevastiana Nester...|sevastiana.nester...| Black Shorts|  Shorts|    74.58|    1939.08|
|      3|          106|        24|       23|      11|     2022-12-23|        24|         Bernd Colin|bernd.colin@examp...| Green Chinos|   Pants|   150.93|    1660.23|
|      3|           21|        32|        9|       2|     2022-12-23|        32|        Ethan Little|ethan.little@exam...|Green Sandals|   Shoes|   137.53|     275.06|
|      3|          626|        14|       18|      14|     2022-12-23|        14|      Sylvie Lecomte|sylvie.lecomte@ex...|Black t-shirt|T-Shirts|   102.41|    1433.74|
|      3|          219|        11|       15|       5|     2022-12-23|        11|    Angélique Vennix|angelique.vennix@...|White t-shirt|T-Shirts|   131.13|     655.65|
+-------+-------------+----------+---------+--------+---------------+----------+--------------------+--------------------+-------------+--------+---------+-----------+
only showing top 20 rows

In [10]:
# Assuming you have a joined DataFrame named 'joined_df' with the required columns

# Group by ProductId and count the occurrences
product_count_df = join_df.groupBy("ProductId").agg(sum("Quantity").alias("totalQuantity"))

# Order by count in descending order
ordered_product_count_df = product_count_df.orderBy("totalQuantity", ascending=False)

# Select the top 5 most frequently bought products
top_5_products = ordered_product_count_df.limit(5)

# Show the resulting DataFrame
top_5_products.show()

+---------+-------------+
|ProductId|totalQuantity|
+---------+-------------+
|       14|           82|
|       24|           77|
|       15|           76|
|        5|           75|
|       19|           74|
+---------+-------------+

In [11]:
join_condition = top_5_products["ProductId"] == products["ProductId"]
joined_df = top_5_products.join(products,join_condition)
joined_df.orderBy("totalQuantity", ascending=False).show(5)

+---------+-------------+---------+-------------+--------+---------+
|ProductId|totalQuantity|ProductId|         Name|Category|UnitPrice|
+---------+-------------+---------+-------------+--------+---------+
|       14|           82|       14|  Red t-shirt|T-Shirts|   121.58|
|       24|           77|       24|   Blue Jeans|   Pants|    173.1|
|       15|           76|       15|White t-shirt|T-Shirts|   131.13|
|        5|           75|        5| Black Shorts|  Shorts|    74.58|
|       19|           74|       19| Green jacket| Jackets|   223.69|
+---------+-------------+---------+-------------+--------+---------+